@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.game{
  width: 35rem;
  height: fit-content;
  background-color: rgb(212, 145, 69);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 5px solid black;
}

.end-game{
  pointer-events: none;
  opacity: 0.7;
}

h1{
  font-size: 10rem;
  min-height: 12rem;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.all{
  border: 5px solid black;
}

.up-down{
  border: 5px solid black;
  border-left: none;
  border-right: none;
}

.left-right{
  border: 5px solid black;
  border-top: none;
  border-bottom: none;
}

button{
  padding: .5rem 1rem;
  background-color: transparent;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}